body {
  width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.body {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

ul.navbar {
  margin-top: 0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.navbar li {
  margin-left: auto;
  margin-right: auto;
  display: inline;
  float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.table {
  width:100%;
  padding: 3px;
}

#message_board {
  overflow: auto;
}

table.left {
  margin-left: 0;
  margin-right: auto;
  text-align: left;
  background-color: #EAECEE;
  table-layout: fixed;
}

table.right {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  background-color: #FFF5EE;
  table-layout: fixed;
}

table.middle {
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  background-color: #FFF5EE;
}

td {
  word-break:keep-all;
}
